In [3]:
from pymongo import MongoClient

client = MongoClient()
db = client.delhi_tweets_loc
collection = db.twitter_collection

In [14]:
import geonamescache

gc = geonamescache.GeonamesCache()

In [57]:
df_loc = pd.DataFrame()
df_loc['city'] = []
df_loc['lat'] = []
df_loc['lon'] = []

In [63]:
tweets_iterator = collection.find()

city = []
lat = []
lon = []

for tweet in tweets_iterator:
    city_name =  tweet['place']['name']
    print(city_name)

Mumbai
Gurgaon
Agartala
Kalyan Dombivali
New Delhi
Haveli
New Delhi
Mumbai
Mumbai
Gurgaon
Dubai
Gurgaon
New Delhi
Bromley
Dhanbad
New Delhi
New Delhi
Gurgaon
Sri Lanka
New Delhi
New Delhi
New Delhi
Davis
Dehradun
New Delhi
Mumbai
New Delhi
New Delhi
Doha
Dubai
Gurgaon
New Delhi
Rajendra Nagar
Rajendra Nagar
Rajendra Nagar
New Delhi
Dubai
New Delhi
New Delhi
New Delhi
Noida
New Delhi
Haveli
New Delhi
Firoz Shah Kotla
Noida
Bengaluru South
Tallinn
Noida
New Delhi
New Delhi
New Delhi
Sanganer
Sri Lanka
Sri Lanka
New Delhi
Sri Lanka
New Delhi
New Delhi
New Delhi
New Delhi
Vododara
Joshimath
Noida
Camberwell
Siliguri
Sri Lanka
Noida
Maharashtra
Lesotho
Gurgaon
Greater Noida
Mumbai
Ghaziabad
Ghaziabad
Mumbai
Rajasthan
Ghaziabad
Hayathnagar
India
New Delhi
Sprotbrough
Kingston upon Thames
Sri Lanka
Bentonville
New Delhi
New Delhi
Bhopal
Noida
Bilaspur
Dammam
New Delhi
Mohali
Dubai
Arcot (Walajapet)
Nandura Budruk
Nandura Budruk
Bikaner
New Delhi
Barakhamba
Mumbai
Bikaner
Chandauli
Mumbai
Bikaner
Bikaner
Jaipur
Barking
Mumbai
Chengalpattu
Mumbai
Ghazipur
Hayathnagar
Bengaluru
Hayathnagar
New Delhi
Bengaluru
Bilaspur
Kanpur
Hubli
Jatani
Tamil Nadu
Jaipur
Uttar Pradesh
Mumbai
Ranchi
Sawai Madhopur
Haveli
New Delhi
Mumbai
New Delhi
New Delhi
Garhi Harsaru
Mumbai
Gurgaon
Kanpur
New Delhi
New Delhi
Bengaluru
Bidhan Nagar
Haveli
Mumbai
Bengaluru South
Kolkata
Sri Lanka
New Delhi
Bengaluru South
New Delhi
New Delhi
New Delhi
Ghaziabad
Gurgaon
Mumbai
Chennai
Bhuj
Noida
Bengaluru South
Prospect Heights
Firoz Shah Kotla
Tempe
Mumbai
New Delhi

In [58]:
tweets_iterator = collection.find()

city = []
lat = []
lon = []

for tweet in tweets_iterator:
    city_name =  tweet['place']['name']
    list_temp = gc.get_cities_by_name(city_name)
    if len(list_temp)!= 0:
        for x in list_temp[0].values():
            city.append(city_name)
            lat.append(x['latitude'])
            lon.append(x['longitude'])
df_loc['city'] = city
df_loc['lat'] = lat
df_loc['lon'] = lon

In [60]:
df_loc['freq'] = df_loc.groupby('city')['city'].transform('count')

In [ ]:
df_loc

In [65]:
df_loc = df_loc.drop_duplicates()

In [66]:
df_loc

                 city       lat        lon  freq
0              Mumbai  19.07283   72.88261    16
1             Gurgaon  28.46010   77.02635     8
2            Agartala  23.83605   91.27939     1
3           New Delhi  28.63576   77.22445    42
4              Haveli  30.45016   73.69888     4
9               Dubai  25.06570   55.17128     4
18              Davis  38.54491 -121.74052     1
23               Doha  25.27932   51.52245     1
32              Noida  28.58000   77.33000     7
37            Tallinn  59.43696   24.75353     1
48         Camberwell -37.84205  145.06940     1
51      Greater Noida  28.49615   77.53601     1
55        Bentonville  36.37285  -94.20882     1
58             Bhopal  23.25469   77.40289     1
60             Dammam  26.43442   50.10326     1
62             Mohali  30.67995   76.72211     1
66          Chandauli  25.25803   83.26825     1
68             Jaipur  26.91962   75.78781     2
69            Barking  51.53333    0.08333     1
71       Chengalpattu  12.69274   79.97730     1
73          Bengaluru  12.97194   77.59369     3
76             Kanpur  26.46523   80.34975     2
77              Hubli  15.34776   75.13378     1
78             Jatani  20.15975   85.70742     1
81             Ranchi  23.34316   85.30940     1
95            Kolkata  22.56263   88.36304     1
102           Chennai  13.08784   80.27847     1
103              Bhuj  23.25397   69.66928     1
105  Prospect Heights  42.09530  -87.93757     1
106             Tempe  33.41477 -111.90931     1

In [85]:
import plotly

df =df_loc

df['text'] = df['city'] + '<br>' + (df['freq']).astype(str)
limits = [(0,2),(3,10),(11,20),(21,50)]
colors = ["rgb(0,116,217)","rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)"]
cities = []
scale = 20 ## 

for i in range(len(limits)):
    lim = limits[i]
    df_sub = df_2[(df_2['freq'] >=lim[0]) & (df_2['freq'] <= lim[1])]
    city = dict(
        type = 'scattergeo',
        locationmode = 'India-states',###
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        marker = dict(
            size = df_sub['freq']*scale,
            color = colors[i],
            line = dict(width=0.5, color='rgb(40,40,40)'),
            sizemode = 'area'
        ),
        name = '{0} - {1}'.format(lim[0],lim[1]) )
    cities.append(city)

layout = dict(
        title = 'Delhi Air Pollution Activity<br>(Hover to learn more + Click legend to toggle traces)',
        showlegend = True,
        geo = dict(
            scope='asia',
            projection=dict( type='mercator' ),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"
        ),
    )

fig = dict( data=cities, layout=layout )
plotly.offline.plot( fig, validate=False, filename='Bubble map' )

/home/cbsudux/.local/lib/python3.5/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/cbsudux/.local/lib/python3.5/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Bubble map` didn't end with .html. Adding .html to the end of your file.

'file:///home/cbsudux/python_ws/task/notebooks/Bubble map.html'